{% extends "erEditRevise/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block banner %} {% endblock %}
{% block navbar %} {% endblock %}
{% block footer %} {% endblock %}
{% block content %}
{% if platform == "prompt" %}
<div class="row">
	<div class="col-sm-12 center">
		<img class="logo" alt="Prompt" src="{% static "erEditRevise/img/logo/prompt1_64px.png" %}">
	</div>
</div>
{% elif platform == "counselor" %}
{% if subdomain and subdomain.counselor_organization and subdomain.counselor_organization.brand_configuration.logo %}
<div class="row">
	<div class="col-sm-12 center">
		<img class="logo" src="{% if subdomain.counselor_organization.brand_configuration.logo %} {{ subdomain.counselor_organization.brand_configuration.logo.url }} {% endif %}" alt="{{ subdomain.counselor_organization.page_title }}" style="max-width: 150px; max-height: 150px">
		<h3>{{ subdomain.counselor_organization.page_title }}</h3>
		<hr/>
	</div>
</div>
{% endif %}
{% endif %}
<div class="row password-reset">
	<div class="col-sm-12 center">
		{% block password-reset-content %} {% endblock %}
	</div>
</div>
{% endblock %}