{% extends "erEditRevise/email/email_base.html" %}
{% load static %}

{% block logo %}
	{% if platform == "prompt" %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block content %}
<p>Dear {{ user.first_name }},</p>

<p>Use the requested link below to reset the password on your {% if platform == "prompt" %}Prompt{% else %}Editate{% endif %} Account:</p>
<a href="http{% if secure %}s{% endif %}://{{ site }}{% url "password_reset_reset" token %}">http{% if secure %}s{% endif %}://{{ site }}{% url "password_reset_reset" token %}</a>
</p>
<p>If you don't want to reset your password, simply ignore this email and your password will stay unchanged.</p>
{% endblock %}

{% block signature %}
	{% if platform == "prompt" %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block footer-container %}
	{% if platform == "prompt" %}
		{{ block.super }}
	{% endif %}
{% endblock %}
