{% extends "password_reset/base.html" %}{% load i18n %}{% load url from future %}

{% block password-reset-content %}
<div class="row password-reset">
	<div class="col-md-6 col-md-offset-3 center">
		<h2>Password Reset</h2>
		{% if invalid %}{% url "password_reset_recover" as recovery_url %}
			<p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
		{% else %}
			<p>{% blocktrans %}Please choose your new password:{% endblocktrans %}</p>
			<form method="post" action="{% url "password_reset_reset" token %}" class="kForm">
				{% csrf_token %}
				{{ form.as_p }}
				<p><input class="btn btn-lg btn-success" type="submit" value="{% trans "Set new password" %}"></p>
			</form>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
	requirejs([], function() {
		require(['common']);
	});
</script>
{% endblock %}